@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
<table class="table table-sm mb-0">
    <tbody id="exchangeRateWidget">
        <tr>
            <td><img src="/assets/images/flag_EUR.png" alt="EUR"></td>
            <td>EUR</td>
            <td class="rate-buy" data-currency="EUR">61.30</td>
            <td class="rate-sell" data-currency="EUR">61.80</td>
        </tr>
        <tr>
            <td><img src="/assets/images/flag_USD.png" alt="USD"></td>
            <td>USD</td>
            <td class="rate-buy" data-currency="USD">52.1201</td>
            <td class="rate-sell" data-currency="USD">53.6682</td>
        </tr>
        <tr>
            <td><img src="/assets/images/flag_GBP.png" alt="GBP"></td>
            <td>GBP</td>
            <td class="rate-buy" data-currency="GBP">70.0578</td>
            <td class="rate-sell" data-currency="GBP">72.1387</td>
        </tr>
        <tr>
            <td><img src="/assets/images/flag_CHF.png" alt="CHF"></td>
            <td>CHF</td>
            <td class="rate-buy" data-currency="CHF">66.9983</td>
            <td class="rate-sell" data-currency="CHF">68.9884</td>
        </tr>
    </tbody>
</table>
