@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
<div class="xrate-table" id="exchangeRateWidget">
    <div class="xrate-row">
        <div class="xrate-flag"><img src="/assets/images/flag_EUR.png" alt="EUR"></div>
        <div class="xrate-code">EUR</div>
        <div class="xrate-val rate-buy" data-currency="EUR">61.30</div>
        <div class="xrate-val rate-sell" data-currency="EUR">61.80</div>
    </div>
    <div class="xrate-row">
        <div class="xrate-flag"><img src="/assets/images/flag_USD.png" alt="USD"></div>
        <div class="xrate-code">USD</div>
        <div class="xrate-val rate-buy" data-currency="USD">52.1201</div>
        <div class="xrate-val rate-sell" data-currency="USD">53.6682</div>
    </div>
    <div class="xrate-row">
        <div class="xrate-flag"><img src="/assets/images/flag_GBP.png" alt="GBP"></div>
        <div class="xrate-code">GBP</div>
        <div class="xrate-val rate-buy" data-currency="GBP">70.0578</div>
        <div class="xrate-val rate-sell" data-currency="GBP">72.1387</div>
    </div>
    <div class="xrate-row">
        <div class="xrate-flag"><img src="/assets/images/flag_CHF.png" alt="CHF"></div>
        <div class="xrate-code">CHF</div>
        <div class="xrate-val rate-buy" data-currency="CHF">66.9983</div>
        <div class="xrate-val rate-sell" data-currency="CHF">68.9884</div>
    </div>
</div>
