@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
<footer class="footer">
    <div class="container-fluid">
        <div class="row link-block">

            <div class="col-md-3">
                <h4>За банката</h4>
                <ul class="footer-links">
                    <li><a href="/za-bankata/profil-na-bankata/">> Профил на Банката</a></li>
                    <li><a href="/za-bankata/korporativno-upravuvanje/">> Корпоративно управување</a></li>
                    <li><a href="/za-bankata/za-akcionerite/">> За акционерите</a></li>
                    <li><a href="/za-bankata/podatoci-i-izveshtai/">> Податоци и извештаи</a></li>
                    <li><a href="/za-bankata/kamatni-stapki/">> Каматни стапки</a></li>
                    <li><a href="/za-bankata/glavni-korespodentni-banki/">> Главни коресподентни банки</a></li>
                    <li><a href="/za-bankata/kontakt/">> Контакт</a></li>
                    <li><a href="/za-bankata/politika-za-privatnost-i-postavuvanje-na-kolacinja/">> Политика за приватност</a></li>
                </ul>
            </div>

            <div class="col-md-3">
                <h4>Финансиски пазари</h4>
                <ul class="footer-links">
                    <li><a href="/finansiski-pazari/devizen-pazar/">> Девизен пазар</a></li>
                    <li><a href="/finansiski-pazari/kursna-lista/">> Курсна листа</a></li>
                    <li><a href="/finansiski-pazari/brokerski-uslugi/">> Брокерски услуги</a></li>
                    <li><a href="/finansiski-pazari/drzavni-khartii-od-vrednost/">> Државни хартии од вредност</a></li>
                    <li><a href="/finansiski-pazari/menuvacko-rabotenje/">> Менувачко работење</a></li>
                </ul>
            </div>

            <div class="col-md-3">
                <h4>Маркетинг и ООП</h4>
                <ul class="footer-links">
                    <li><a href="/marketing-i-oop/opshtestveno-odgovorni-praktiki/">> Општествено одговорни практики</a></li>
                    <li><a href="/marketing-i-oop/realizirani-proekti/">> Реализирани проекти</a></li>
                    <li><a href="/marketing-i-oop/logo-i-trgovski-marki/">> Лого и трговски марки</a></li>
                    <li><a href="/marketing-i-oop/reklamni-kampanji/">> Рекламни кампањи</a></li>
                    <li><a href="/marketing-i-oop/intervjua-i-publikacii/">> Интервјуа и публикации</a></li>
                </ul>
            </div>

            <div class="col-md-3">
                <h4>Кариера во СТБ</h4>
                <ul class="footer-links">
                    <li><a href="/kariera-vo-stb/kariera-vo-stb/">> Кариера во СТБ</a></li>
                </ul>
            </div>

        </div>

        <div class="row mb-3">
            <div class="col-12"><hr></div>
        </div>

        <div class="row">
            <div class="col-sm-12 col-md mb-2">
                <ul class="footer-links">
                    <li><a href="/ostanati-sodrzini/uslovi-za-koristenje/">Услови за користење</a></li>
                    <li><a href="https://www.nbg.gr/en/the-group" target="_blank">NBG group</a></li>
                </ul>
            </div>
            <div class="col-sm-12 col-md-6 text-center">
                <img src="/media/2279/stb_logo_bottom_mk.png" class="img-fluid d-inline-block" alt="Стопанска Банка">
            </div>
            <div class="col-sm-12 col-md text-center mt-2 mt-md-0">
                <ul class="list-unstyled footer-social float-md-right mb-0 topnav-category topnav-social-icons d-inline-block">
                    <li><a href="https://www.facebook.com/stopanskabankaSK/" target="_blank" class="nav-link m-0" aria-label="Facebook"><i class="mdi mdi-facebook"></i></a></li>
                    <li><a href="https://www.linkedin.com/company/stopanska-banka-ad-skopje/" target="_blank" class="nav-link m-0" aria-label="Linkedin"><i class="mdi mdi-linkedin"></i></a></li>
                    <li><a href="https://www.instagram.com/stopanskabanka/" target="_blank" class="nav-link m-0" aria-label="Instagram"><i class="mdi mdi-instagram"></i></a></li>
                    <li><a href="https://twitter.com/ibankstoreSTB" target="_blank" class="nav-link m-0" aria-label="Twitter"><i class="mdi mdi-twitter"></i></a></li>
                    <li><a href="https://www.youtube.com/user/stopanskabankamk" target="_blank" class="nav-link m-0" aria-label="Youtube"><i class="mdi mdi-youtube"></i></a></li>
                </ul>
            </div>
        </div>

    </div>
</footer>
